openai
qdrant-client
fastapi
google-api-python-client
google-auth
google-auth-oauthlib
uvicorn
tqdm
pdf2image
pillow
pytesseract
python-dotenv
pypdf
pyMuPDF
qdrant-client
rank_bm25
requests
scikit-learn
tenacity
tiktoken
uvicorn