openai
fastapi
google-api-python-client
google-auth
google-auth-oauthlib
nltk>=3.8
pdf2image
pillow
pytesseract
python-dotenv
pypdf
pyMuPDF
qdrant-client
rank_bm25
requests
scikit-learn
tenacity
tiktoken
tqdm
uvicorn